* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: rgb(131, 58, 180);
	background: linear-gradient(
		90deg,
		rgba(131, 58, 180, 1) 0%,
		rgba(253, 29, 29, 1) 50%,
		rgba(252, 176, 69, 1) 100%
	);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 96px;
}

.form,
.container,
.current,
.forecast-container {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	background: #fff;
	width: 70vw;
	border-radius: 8px;
	margin: 0 auto;
}
.current,
.forecast-container {
	display: none;
}
/* .container {
	margin: 50px auto;
	max-width: 60vw;
} */

input {
	/* margin-bottom: 48px; */
}

input:focus {
	border: 2px solid #297dbc;
}

#default-search {
	/* font-size: 1.3rem; */
}

.current {
	padding: 1.4rem;
	height: 25vh;
	width: 40vw;
	justify-content: center;
	align-items: center;
}

.output-div {
	margin-top: 124px;
	gap: 96px;
}

.forecast-container {
	padding: 1.4rem;
	margin-top: 96px;
	gap: 24px;
}

.show {
	display: block;
}

#btn {
	background: #297dbc;
}

.rain-percent {
	display: flex;
}

.main-icon {
	display: inline-block;
}
